/* Googlefont Poppins CDN Link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* FONTS */

@import url(../css/clash-display.css);

/* VARIABLES */

:root {
  --c-dark: #212529;
  --c-brand: #4e57d4;
  --c-brand-light: #6970dd;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #727272;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
  --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar{
  background: #222;
}

/* main_content */

:root {
  --black: #24292d;
  --nav-main: #4070f4;
  --switchers-main: #0b3cc1;
}

.main_content {
  margin-top: 20px;
  background: #222;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  */

.containers {
  margin-top: 70px;
  max-width: 700px;
  width: 100%;
  background-color: #222;
  padding: 25px 30px;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px #606060);
}

.containers .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: white;
}
.containers .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #0171d0;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: white;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #585858;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background: #222;
  color: white;
}

.user-details .input-box input:focus {
  border-color: #585858;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.gender {
  color: white;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #0b3cc1;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .field {
  position: relative;
  height: 45px;
  margin: 35px 0;
  text-align: center;
  border-radius: 6px;
}

.field button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #4070f4;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.field button:hover {
  background: #073fb8;
}

@media (max-width: 584px) {
  .containers {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x) * 0.5); */
    /* padding-left: calc(var(--bs-gutter-x) * 0.8); */
    margin-top: var(--bs-gutter-y);
  }
}

@media (max-width: 459px) {
  .containers .content .category {
    flex-direction: column;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: contents;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(-1 * var(--bs-gutter-y));
}

/*  */
.navbar-nav .nav-link,
span.nav-link{
    font-family: var(--font-family);
  }
  .site-footer-link {
    font-family: var(--font-family);
  }
  .text-white {
    font-family: var(--font-family);  
  }
img.profile-picture{
  width: 60%;
  height: 100%;
  border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
img.profile-picture:hover{
  cursor: pointer;
}
.col-md-6.input-box {
  display: flex;
  justify-content: center;
}
i.fa-solid.fa-chevron-down {
  font-size: 11px;
}
i.fa-solid.fa-chevron-down {
  font-size: 11px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
  border-radius: 10px
}
a.nav-link.item{
  padding: 0px 20px!important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 991px){
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
}