<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/home">
            DaviTicket
        </a>

        <a href="/listMovieBooking" class="btn custom-btn d-lg-none ms-auto me-4">Đặt vé</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">Lịch sử</a>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link">{{userDisplayName}} <i class="fa-solid fa-chevron-down"></i></span>
                    <div class="dropdown-content">
                        <a class="nav-link" href="/profile">Thông tin</a>
                        <a class="nav-link" (click)="loadDataProfile()">Đổi mật khẩu</a>
                        <a class="nav-link" (click)="logout()" routerLink="/home">Đăng xuất</a>
                    </div>
                </li>
            </ul>

            <a href="/listMovieBooking" class="btn custom-btn d-lg-block d-none">Đặt vé</a>
        </div>
    </div>
</nav>
<div class="main_content">
    <div class="containers">
        <div class="title">Thông tin tài khoản</div>
        <div class="content">
            <form id="profileForm" [formGroup]="profileForm" action="" novalidate>
                <div class="user-details">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-6 input-box">
                            <label class="upload-image">
                                <input type="file" class="file" (change)="chooseFile($event)" style="display: none;">
                                <img class="profile-picture" src="{{profile.pic}}" width="250px">
                                <input type="text" formControlName="profile_picture" id="avatar" style="display: none;">
                            </label>
                        </div>
                        <div class="col-md-6 ">
                            <div class="input-box" style="width: 100%;">
                                <span class="details">Họ và tên</span>
                                <input formControlName="full_name" value="{{profile.fullname}}" id="full_name" type="text" required>
                            </div>
                            <div class="input-box" style="width: 100%;">
                                <span class="details">Email</span>
                                <input formControlName="email" id="email" type="text" value="{{userEmail}}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Số điện thoại</span>
                        <input type="text" formControlName="phone" id="phone" value="{{profile.phone}}" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Mật khẩu</span>
                        <input type="text" formControlName="password" id="password" readonly>
                    </div>
                    <div class="input-box">
                        <span class="details">Ngày sinh</span>
                        <input type="text" formControlName="birthday" id="birthday" value="{{profile.birtday}}" required>
                    </div>

                    <div class="input-box">
                        <span class="details">Giới tính</span>
                        <div class="category">
                          <label for="dot-1">
                            <input type="radio" formControlName="gender" [value]="true" id="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Nam</span>
                          </label>
                          <label for="dot-2">
                            <input type="radio" formControlName="gender" [value]="false" id="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Nữ</span>
                          </label>
                          <label for="dot-3">
                            <input type="radio" formControlName="gender" value="other" id="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Khác</span>
                          </label>
                        </div>
                      </div>
                </div>

                <div class="row" style="display: flex;">
                    <div class="field button-field col-md-6">
                        <button type="submit">Xác nhận</button>
                    </div>
                    <div class="field button-field col-md-6">
                        <button>Hủy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>