@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.section-booking{
    display: flex;
  flex-direction: column;
  background-color: #242333;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}
.movie-container {
  margin: 20px 0;
  font-size: 30px;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container-booking {
  perspective: 1000px;
  margin-bottom: 30px;  
}


.seat {
    background-color: #444451;
    height: 20px;
    width: 15px;
    margin: 3px;
    border-radius: 3px;
}
.seat.notselected {
  background-color: red;
}
.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}
.seat.notselected:hover,
.seat.occupied:hover{
  cursor: no-drop;
}
.seat:hover{
  cursor: pointer;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
.info-movie-selected{
  display: flex;
}
.info-movie-selected p {
  padding-left: 10px;
}

/* =======btn-bookmark======== */
.btn-bookmark{
  display: flex;
}
.bookmarkBtnNext,
.bookmarkBtnPrev {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
}
.bookmarkBtnNext{
  margin-left: 60px;
}
.bookmarkBtnPrev{
  margin-right: 60px;
}
.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.fa-arrow-right,
.fa-arrow-left {
  border-radius: 1px;
}

.bookmarkBtnNext .text,
.bookmarkBtnPrev .text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .3s;
  font-size: 12px;
}

.bookmarkBtnNext:hover .IconContainer,
.bookmarkBtnPrev:hover .IconContainer  {
  width: 90px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtnNext:hover .text,
.bookmarkBtnPrev:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtnNext:active,
.bookmarkBtnPrev:active {
  transform: scale(0.95);
  transition-duration: .3s;
}

