body{
    background-color: #222;
}
.table-responsive {
    /* filter: drop-shadow(2px 2px 4px #606060); */
    filter: none
}
.wrapper {
    background-color: #222;
    min-height: 100px;
    /* max-width: 800px; */
    margin: 95px auto 0;
    padding: 10px 30px
}

.nav-item .nav-link .fa-bell-o::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffc0cb;
    right: 10px;
    top: 10px
}

.nav-item input {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 3px 8px;
    width: 75%;
    color: #eee
}

.nav-item .fa-search {
    font-size: 18px;
    color: #bbb;
    cursor: pointer
}

.navbar-nav:last-child {
    display: flex;
    align-items: center;
    width: 40%
}

.navbar-nav .nav-item {
    padding: 0px 0px 0px 10px
}

.navbar-brand p {
    display: block;
    font-size: 14px;
    margin-bottom: 3px
}

.text {
    color: #bbb
}

.money {
    font-family: 'Lato', sans-serif
}

.fa-long-arrow-down,
.fa-long-arrow-up {
    padding-left: 12px;
    padding-top: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 100;
    color: #28df99
}

.fa-long-arrow-up {
    color: #ffa500
}

.nav.nav-tabs {
    border: none
}

.nav.nav-tabs .nav-item .nav-link {
    color: #bbb;
    border: none
}

.nav.nav-tabs .nav-link.active {
    background-color: #222;
    border: none;
    color: #fff;
    border-bottom: 4px solid #fff
}

.nav.nav-tabs .nav-item .nav-link:hover {
    border: none;
    color: #eee
}

.nav.nav-tabs .nav-item .nav-link.active:hover {
    border-bottom: 4px solid #fff
}

.nav.nav-tabs .nav-item .nav-link:focus {
    border-bottom: 4px solid #fff;
    color: #fff
}

.card.shadow.mb-4.mt-4,
.rwd-table {
    background-color: #222
}
.card.shadow.mb-4.mt-4{  
    filter: drop-shadow(2px 2px 4px #606060);
}
tbody {
    color: darkgray;
    font-weight: 300;
}
.table thead th {
    text-transform: uppercase;
    color: #bbb;
    font-size: 12px
}

.table thead th,
.table td,
.table th {
    border: none;
    overflow: auto auto
}

td .fa-briefcase,
td .fa-bed,
td .fa-exchange,
td .fa-cutlery {
    color: #ff6347;
    background-color: #444;
    padding: 5px;
    border-radius: 50%
}

td .fa-bed,
td .fa-cutlery {
    color: #40a8c4
}

td .fa-exchange {
    color: #b15ac7
}

tbody tr td .fa-cc-mastercard,
tbody tr td .fa-cc-visa {
    color: #bbb
}

tbody tr td.text-muted {
    font-family: 'Lato', sans-serif
}

tbody tr td .fa-long-arrow-up,
tbody tr td .fa-long-arrow-down {
    font-size: 12px;
    padding-left: 7px;
    padding-top: 3px;
    height: 20px;
    width: 20px
}

.results span {
    color: #bbb;
    font-size: 12px
}

.results span b {
    font-family: 'Lato', sans-serif
}

.pagination .page-item .page-link {
    background-color: #444;
    color: #fff;
    padding: 0.3rem .75rem;
    border: none;
    border-radius: 0
}

.pagination .page-item .page-link span {
    font-size: 16px
}

.pagination .page-item.disabled .page-link {
    background-color: #333;
    color: #eee;
    cursor: crosshair
}

@media(min-width:768px) and (max-width: 991px) {
    .wrapper {
        margin: auto
    }

    .navbar-nav:last-child {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%
    }

    .notify {
        display: inline
    }

    .nav-item .fa-search {
        padding-left: 10px
    }

    .navbar-nav .nav-item {
        padding: 0px
    }
}

@media(min-width: 300px) and (max-width: 767px) {
    .wrapper {
        margin: auto
    }

    .navbar-nav:last-child {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%
    }

    .notify {
        display: inline
    }

    .nav-item .fa-search {
        padding-left: 10px
    }

    .navbar-nav .nav-item {
        padding: 0px
    }

    #income {
        border: none
    }
}

@media(max-width: 400px) {
    .wrapper {
        padding: 10px 15px;
        margin: auto
    }

    .btn {
        font-size: 12px;
        padding: 10px
    }

    .nav.nav-tabs .nav-link {
        padding: 10px
    }
}

/* ========Table========== */
.fa-solid.fa-money-bill {
    color: #DB8B09;
    background: #434342;
    padding: 10px;
    border-radius: 50%;
}
div.dataTables_wrapper div.dataTables_filter label {
    color: white;
}
div.dataTables_wrapper div.dataTables_filter input {
    background: #222;
    border: none;
    border-bottom: 1px solid dimgray;
    border-radius: inherit;
    outline: none;
    box-shadow: none;
    color: white;
}
div.dataTables_wrapper div.dataTables_length label {
    color: white;
}
div.dataTables_wrapper div.dataTables_length select {
    background: #2222;
    border: none;
    color: #DB8B09;
    outline: none;
    box-shadow: none;
}

/* ========Detail tiket============= */
.msg {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #555;
    text-transform: uppercase;
    z-index: 4;
}

.m-ticket {
    width: 350px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 25px #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: move;
}


.m-ticket:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 41%;
    background: #eee;
    box-shadow: inset 0 0 25px #bbb;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}


.m-ticket:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 41%;
    background: #eee;
    box-shadow: inset 0 0 25px #bbb;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}


.m {
    position: absolute;
    right: -5px;
    top: 15%;
    transform: rotate(270.5deg);
    font-size: .80em;
    color: #888;
}


.m-ticket>.movie-details {
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}


.m-ticket>.movie-details>.poster {
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 10px #888;
}

.m-ticket>.movie-details>.movie>h4 {
    text-transfrom: capitalize;
    font-size: 1.6em;
    margin-bottom: 20px;
    width: 200px;
}


.m-ticket>.movie-details>.movie>p {
    font-size: .80em;
    line-height: 19px;
    color: #777;
}


.m-ticket>.info {
    width: 93%;
    border-radius: 20px;
    background: #eee;
    padding: 10px 0px;
    text-align: center;
    font-size: .72em;
}



.m-ticket>.ticket-details {
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}


.m-ticket>.ticket-details>.scan {
    width: 100px;
    height: 100px;
}

.m-ticket>.ticket-details>.ticket {
    text-align: center;
    width: 200px;
}


.m-ticket>.ticket-details>.ticket>p {
    font-size: .80em;
    line-height: 19px;
    color: #777;
}

.m-ticket>.ticket-details>.ticket>b {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
}


.m-ticket>.ticket-details>.ticket>h6 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: .95em;
    margin-top: 10px;
}


.m-ticket>.info-cancel {
    width: 100%;
    background: #eee;
    color: #888;
    padding: 10px 0px;
    text-align: center;
    font-size: .80em;
}


.m-ticket>.total-amount {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    font-weight: 700;
    font-size: .90em;
    width: 100%;
}