:root {
    --app-bg: url(../images/bg-login.jpg);
  }
  
  .sticky-wrapper{
    margin-top: 0;
  }
  
  .section-booking { 
    background-color: rgb(175, 131, 0);
    font-family: 'Segoe UI', 'Roboto', Tahoma;
    /* background-image: var(--app-bg); */
    background-color: #222;
    display: flex;
    align-items: center;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }
  
  h1, h2, h3, h4 { font-weight: 400; }
  
  .wrapper {
    width: auto;
    height: 600px;
    margin: 10px auto;
    box-shadow: 0px 2px 5px rgba(0,0,0,.4);
    box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
    filter: drop-shadow(2px 2px 4px #606060);
  }
  
  .main-wrap {
    position: relative;
    background-color: #222;
    height: 100%;
    width: calc(100% - 250px);
    margin-left: 250px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
  }
  .card-movie{
    background: #222;
  }
  .main { 
    display: flex;
    width: calc(1100px + 100px);
    height: 100%;
  }
  .show-time {
    line-height: 2;
}
a.btn.btn-sm.btn-showtime.disabled.btn-light.is-redirecting {
    background: #222;
    color: white;
}
.col-3.col-sm-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
label.small.mb-2.font-weight-bold.d-block {
    color: darkgray;
}
  .list,
  .checkout {
    position: relative;
    /* width: calc(50% - 50px); */
  }
  
  .content { 
    padding: 30px 25px 0px 25px; 
    position: relative;
    transition: all .4s ease;
  }
  
  .content h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul.covers {
    height: 550px;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  
  ul.covers::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  ul.covers li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    width: 151px;
    transform: translateY(100px);
    opacity: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
  }
  
  /*ul.covers li:hover {
    transition-delay: 300ms !important; 
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
    top: -5px; 
  }*/
  
  ul.covers li > * { 
    display: block; 
  }
  ul.covers li img { 
    height: 200px; 
    width: 140px; 
    background-color: #607D8B; 
    background-size: cover; 
    transition: all .8s ease; 
  }
  ul.covers li span { 
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  ul.covers li small { 
    color: #666; 
    font-size: 11px; 
  }
  
  
  
  /*******/
  
  .side {
    position: relative;
    border-right: 1px solid slategrey;
    background-color: #222;
    float: left;
    width: 250px; 
    height: 100%; 
    border-radius: 20px 0 0 20px;
  }
  
  .side h3 {
    font-family: 'Khula','Segoe UI', cursive;
    font-size: 32px;
    margin: 15px 5px 0px;
    color: #DB8B09;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .side > div,
  .side > input { 
    margin: 5px 10px; 
  }
  .side i:before { 
    font-size: 18px; 
    margin-right: 10px; 
  }
  .search {
    width: calc(100% - 35px);
    padding: 8px 5px;
    border: solid 2px #777;
    outline: none;
  }
  
  ul.menu { margin: 15px 0; }
  ul.menu li { 
    padding: 10px;
    padding-left: 15px; 
    color: darkgray;
    cursor: pointer; 
  }
  
  ul.menu li:hover,
  ul.menu li.selected { 
    border-left: #795548 solid 3px;
    color: #DB8B09;
    font-weight: 500; 
    transition: all .1s ease;
  }
  
  /* ul.menu li:nth-child(7) { 
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
  } */
  
  
  .side div.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(175, 131, 0) no-repeat center center fixed;
    background-image: var(--app-bg);
    background-size: cover;
    background-position: 0px 0px; /**important + cover**/
    filter: blur(5px);
    padding: 0;
    margin: 0;
    z-index: -1;
  }
  
  