.section-pay{
    background-color: #222;
}
.container-pay {
    margin: 20px auto;
    max-width: 1000px;
    background-color: #222;
    padding: 0;
}


.form-control {
    height: 25px;
    width: 150px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    font-size: 14px;
    color: white;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: white;
}

.form-control2 {
    font-size: 14px;
    height: 20px;
    width: 55px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    color: white;
}

.form-control2:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: white;
}

.form-control3 {
    font-size: 14px;
    height: 20px;
    width: 30px;
    border: none;
    border-radius: 0;
    font-weight: 800;
    padding: 0 0 5px 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    margin: 0;
    color: white;
}

.form-control3:focus {
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: white;
}

p {
    margin: 0;
}
.p-5 {
    display: flex;
    justify-content: center;
}
p.h4.m-0.movie-name {
    width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 20px; */
    -webkit-line-clamp: 3;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: 'Poppins', sans-serif;
}
img {
    width: 51.9%;
    height: 100%;
    object-fit: fill;
}

.text-muted {
    font-size: 10px;
}

.textmuted {
    color: #6c757d;
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.btn.btn-primary {
    width: 100%;
    height: 55px;
    border-radius: 0;
    padding: 13px 0;
    background-color: black;
    border: none;
    font-weight: 600;
}

.btn.btn-primary:hover .fas {
    transform: translateX(10px);
    transition: transform 0.5s ease
}
.d-flex.align-text-top {
    color: white;
}
.fw-900 {
    font-weight: 900;
}

::placeholder {
    font-size: 12px;
}

.ps-30 {
    padding-left: 30px;
}

.h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700 !important;
}

.textmuted,
h5,
.text-muted {
    font-family: 'Poppins', sans-serif;
}

/* =======btn-bookmark======== */
.btn-bookmark{
    display: flex;
  }
  .bookmarkBtnNext,
  .bookmarkBtnPrev {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
  }
  .bookmarkBtnNext{
    margin-left: 60px;
  }
  .bookmarkBtnPrev{
    margin-right: 60px;
  }
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255),rgb(172, 70, 255));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .fa-arrow-right,
  .fa-arrow-left {
    border-radius: 1px;
  }
  
  .bookmarkBtnNext .text,
  .bookmarkBtnPrev .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: .3s;
    font-size: 12px;
  }
  
  .bookmarkBtnNext:hover .IconContainer,
  .bookmarkBtnPrev:hover .IconContainer  {
    width: 90px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtnNext:hover .text,
  .bookmarkBtnPrev:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtnNext:active,
  .bookmarkBtnPrev:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }