<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/index.html :: dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Davitickets</title>
<link th:href="@{/css/admin.css}" rel="stylesheet">
<link th:href="@{/vendor/fontawesome-free/css/all.min.css}"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

</head>
<body id="page-top">

	<!-- Begin Page Content -->
	<!-- Page Heading -->
	<div class="container-fluid">
		<h1 class="h3 mb-4 text-light">Quản lý ghế</h1>
		<form th:object="${formseat}" method="post" action="#">
			<div class="shadow-lg card border-0 border-left-danger">
				<div class="row">

					<div class="col-lg-12">
						<div class=" mb-4">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Ghế Vip</p>
									</div>
									<div class="col-sm-9">
										<select class="text-muted mb-0" th:field="*{vip}">
											<option th:value="'true'" th:text="Vip"></option>
											<option th:value="'false'" th:text="'Bình thường'"></option>
										</select> 
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Hàng Ghế</p>
									</div>
									<div class="col-sm-9">
										<input class="text-muted mb-0" th:field="*{row_symbol}"
											th:name="row_symbol" readonly>

									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Vị Trí Ghế Theo Hàng</p>
									</div>
									<div class="col-sm-9">
										<input class="text-muted mb-0" type="text"
											th:field="*{seat_num}" name="seat_num" readonly>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<p class="mb-0">Trạng Thái Ghế</p>
									</div>
									<div class="col-sm-9">
										<input type="text" class="text-muted mb-0"
											th:value="*{available} ? 'Bình Thường' : 'Hỏng'" readonly>
									</div>
								</div>
								<hr>
								<div class="btn-updateprofile">
									<button th:formaction="@{|/updateSeat/${seat_id}|}"
										type="submit" class="btn btn-primary">
										<i class="fas fa-fw fa-edit"></i> Sửa
									</button>
									<button th:formaction="@{|/disableSeat/${seat_id}|}"
										type="submit" class="btn btn-danger" th:if="*{available}">
										<i class="fas fa-fw fa-ban"></i> Vô hiệu hóa
									</button>
									<button th:formaction="@{|/activeSeat/${seat_id}|}"
										type="submit" class="btn btn-success" th:if="*{!available}">
										<i class="fas fa-solid fa-check"></i> Kích hoạt
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- End of Main Content -->



	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<script type="text/javascript">
		var data = document.getElementById("fupdate");
		var dataDis = document.getElementById("fdisable");
		if (data.value == "true") {
			toast({
				title : "Thành công!",
				message : "Bạn đã cập nhật thành công",
				type : "success",
				duration : 5000
			});
		}
		if (data.value == "false") {
			toast({
				title : "Thất bại!",
				message : "Bạn đã cập nhật thất bại",
				type : "error",
				duration : 5000
			});
		}
		if (dataDis.value == "true") {
			toast({
				title : "Thành công!",
				message : "Bạn đã thêm mới thành công",
				type : "success",
				duration : 5000
			});
		}
		if (dataDis.value == "false") {
			toast({
				title : "Thất bại!",
				message : "Bạn đã thêm mới thất bại",
				type : "error",
				duration : 5000
			});
		}
	</script>

</body>
</html>