<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="/home">
			DaviTicket
		</a>

		<a href="/listMovieBooking" class="btn custom-btn d-lg-none ms-auto me-4">Đặt vé</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
				<li class="nav-item">
					<a class="nav-link" href="/home">Trang chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/history">Lịch sử</a>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link">{{userDisplayName}} <i class="fa-solid fa-chevron-down"></i></span>
					<div class="dropdown-content">
						<a class="nav-link" (click)="loadDataProfile()">Thông tin</a>
						<a class="nav-link" href="/changepass">Đổi mật khẩu</a>
						<a class="nav-link" (click)="logout()" routerLink="/home">Đăng xuất</a>
					</div>
				</li>
			</ul>

			<a href="/listMovieBooking" class="btn custom-btn d-lg-block d-none">Đặt vé</a>
		</div>
	</div>
</nav>


<section class="section-pay section-padding">
	<div class="container-pay">
		<div class="row m-0" *ngFor="let item of formPay;let i = index">
			<div class="col-lg-7 pb-5 pe-lg-5">
				<div class="row">
					<div class="btn-bookmark">
						<a href="/booking">
							<i class="fa-solid fa-arrow-left"></i>
						</a>
					</div>
					<div class="col-12 p-5">
						<img src="{{item.showtime.movie.poster}}" alt="">
					</div>
					<div class="row m-0">
						<div class="col-md-4 col-6  ps-30 my-4">
							<p class="text-muted">THỜI GIAN</p>
							<p class="h5 m-0">{{item.showtime.startTime}} ~ {{item.showtime.endTime}}</p>
						</div>
						<div class="col-md-4 col-6 ps-30 my-4">
							<p class="text-muted">NGÀY CHIẾU</p>
							<p class="h5 m-0">{{item.showtime.show}}</p>
						</div>
						<div class="col-md-4 col-6 ps-30 my-4">
							<p class="text-muted">RẠP</p>
							<p class="h5 m-0">Davitickets</p>
						</div>
						<div class="col-md-4 col-6 ps-30 my-4">
							<p class="text-muted">PHÒNG CHIẾU</p>
							<p class="h5 m-0">{{item.showtime.room.room_id}}</p>
						</div>
						<div class="col-md-4 col-6 ps-30 pe-0 my-4">
							<p class="text-muted">ĐỊNH DẠNG</p>
							<p class="h5">2D Phụ đề</p>
						</div>
						<div class="col-md-4 col-6 ps-30 my-4">
							<p class="text-muted">GHẾ</p>
							<p class="h5 m-0">{{seat}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 p-0 ps-lg-4">
				<div class="row m-0">
					<div class="col-12 px-4">
						<div class="d-flex align-items-end mt-4 mb-2">
							<p class="h4 m-0 movie-name">{{item.showtime.movie.title_movie}}</p>
						</div>
						<!-- <div class="d-flex justify-content-between mb-2">
                            <p class="textmuted">Giá</p>
                            <p class="fs-14 fw-bold">{{item.showtime.price}} đ</p>
                        </div> -->
						<div class="d-flex justify-content-between mb-2">
							<p class="textmuted">Số lượng</p>
							<p class="fs-14 fw-bold">{{count}}</p>
						</div>
						<!-- <div class="d-flex justify-content-between mb-2">
                            <p class="textmuted">Shipping</p>
                            <p class="fs-14 fw-bold">Free</p>
                        </div> -->
						<!-- <div class="d-flex justify-content-between mb-2">
                            <p class="textmuted">Khuyến mãi</p>
                            <p class="fs-14 fw-bold">- 0</p>
                        </div> -->
						<div class="d-flex justify-content-between mb-3">
							<p class="textmuted fw-bold">Tổng</p>
							<div class="d-flex align-text-top ">
								<span class="h4">{{money}} đ</span>
							</div>
						</div>
					</div>
					<div class="col-12 px-0">
						<div class="row m-0">
							<div class="col-12 px-4 my-4">
								<p class="fw-bold">Chi tiết người đặt</p>
							</div>
							<div class="col-12 px-4">
								<div class="d-flex  mb-4">
									<span class="">
										<p class="text-muted">Người đặt</p>
										<input class="form-control" type="text" value="{{item.full_name}}"
											placeholder="1234 5678 9012 3456">
									</span>
									<!-- <div class=" w-100 d-flex flex-column align-items-end">
                                        <p class="text-muted">Số điện thoại</p>
                                        <input class="form-control2" type="text" value="01234.." placeholder="MM/YYYY">
                                    </div> -->
								</div>
								<div class="d-flex mb-5">
									<span class="me-5">
										<p class="text-muted">Email</p>
										<input class="form-control" type="text" value="{{item.email}}" placeholder="Name">
									</span>
									<!-- <div class="w-100 d-flex flex-column align-items-end">
                                        <p class="text-muted"></p>
                                        <input class="form-control3" type="text" value="630" placeholder="XXX">
                                    </div> -->
								</div>
							</div>
						</div>
						<div class="row m-0" (click)="payment()">
							<div class="col-12  mb-4 p-0">
								<div class="btn btn-primary">Xác nhận
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>