/* Googlefont Poppins CDN Link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* FONTS */

@import url(../css/clash-display.css);

/* main_content */

:root {
  --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  --black: #24292d;
  --nav-main: #4070f4;
  --switchers-main: #0b3cc1;
}
body{
  background: #222;
  font-family: var(--font-family);
}
.main_content {
  background: #222;
}

#content {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Quên mật khẩu */
span.text-primary.text-medium{
  color: #828282 !important;
}
form {
  /* max-width: 550px; */
  /* width: 100%; */
  background: #222;
  padding: 30px;
  border-radius: 0 0 4px 4px;
  filter: drop-shadow(2px 2px 4px #606060);
}

form .input-box {
  display: flex;
  height: 55px;
  align-items: center;
  position: relative;
}

.input-box input {
  height: 100%;
  outline: none;
  border: 2px solid #585858;
  background: #313131;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 45px;
  color: white;
  transition: all 0.3s ease;
}

.input-box input.input {
  width: 75%;
  margin-right: 20px;
}

form.valid .input-box input.input {
  border-color: #585858;
}

/* .input-box input.input:focus {
  border-color: #23d2e2;
} */

form.error input.input {
  border-color: #de0611;
}

.input-box input.button {
  width: 25%;
  padding: 0;
  color: #fff;
  background: #23d2e2;
  border: none;
  cursor: pointer;
}

.input-box input.button:hover {
  background: #09bece;
}

.input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box i.email-icon {
  color: #bfbfbf;
  left: 15px;
  transition: all 0.3s ease;
}

form.valid i.email-icon {
  color: #1748cf;
}

.input-box input.input:focus ~ i.email-icon {
  color: #1748cf;
}

.input-box .error-icon,
.input-box .passed-icon {
  color: #de0611;
  left: calc(75% - 60px);
  display: none;
}

form.error .error-icon {
  display: block;
}

.input-box .passed-icon {
  color: #1748cf;
}

form.valid .passed-icon {
  display: block;
}

form .text {
  color: #de0611;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 -10px 2px;
}

form.valid .text {
  color: #1748cf;
}

.forgot {
  background-color: #222;
  padding: 12px;
  filter: drop-shadow(2px 2px 4px #606060);
}

.forgot h2 {
  color: #ffc107;
  text-align: center;
}

.forgot ol {
  padding-left: 30px;
  color: #828282;
}
.forgot p {
  color: #bbb;
}
.card {
  border-radius: 0px;
  margin-top: 20px;
  padding: 20px;
  max-width: 900px;
  background-color: #222;
}
.card p {
  color: #bbb;
}
.padding-bottom-3x {
  padding-bottom: 72px !important;
}

#fogotPass {
  max-width: 350px;
  /* padding: 0 20px; */
}

#maxn {
  max-width: 350px;
  /* padding: 0 20px; */
}

.wrapper {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 90px;
  background: #23d2e2;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  /* width: 100%; */
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  background-color: #222;
  border: 1px solid #585858;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #222;
  box-shadow: inset 0px 0px 2px 2px #585858;
}

form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #23d2e2;
  border: 1px solid #23d2e2;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.wrapper form .button button {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #23d2e2;
  border: 1px solid #23d2e2;
  cursor: pointer;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 5px;
}

form .button button:hover {
  background: #07b3c2;
}

.wrapper form .signup-link {
  text-align: center;
  color: #585858;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: #23d2e2;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

/*  */
.container-fogot-pass{
  padding: 5rem 0;
}
.navbar-nav .nav-link,
span.nav-link{
    font-family: var(--font-family);
  }
  .site-footer-link {
    font-family: var(--font-family);
  }
  .text-white {
    font-family: var(--font-family);  
  }
  i.fa-solid.fa-chevron-down {
    font-size: 11px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0px;
  z-index: 1;
  border-radius: 10px
}
a.nav-link.item{
  padding: 0px 20px!important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 991px){
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
}

