:root {
  --font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.artists-thumb {
  padding: 0px;
}
.artists-hover {
  padding-bottom: 20px;
  font-family: Alrgreya Sans;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  gap: 15px;
  /* background-color: #007acc;
  outline: 3px #007acc solid; */
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  /* background-color: transparent; */
  color: white;
}

.button:hover .text {
  color: #007acc;
}
.mt-auto {
  margin-top: 10rem !important;
}
.text-white {
  font-family: var(--font-family);  
}
.pricing-list-item {
  font-family: var(--font-family);
}
.site-footer-link {
  font-family: var(--font-family);
}

/*  */
.navbar-nav .nav-link{
  font-family: var(--font-family);
}
.col-12.mb-5.text-center.title-top {
  margin-top: 4rem;
}
.services-info{
  text-align: justify;
}
p.content-about-us {
  font-family: var(--font-family);
  color: white;
  font-size: 16px;
  text-align: justify;
}
.col-lg-8.col-12.mx-auto.fare-title {
  margin-bottom: 3rem;
}
.custom-form .form-control {
  box-shadow: none;
}
h5,
small,strong.text-dark{
  font-family: var(--font-family);
}
/* btn */
.btn-top-index {
  /* --primary-color: #645bff; */
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.6em 1.4em;
  background: var(--custom-btn-bg-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.btn-top-index .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-top-index .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--custom-btn-bg-color);
  display: flex;;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-top-index .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn-top-index:hover {
  background-color: var(--hover-color);
}

.btn-top-index:hover .arrow {
  background: var(--secondary-color);
}

.btn-top-index:hover .arrow:before {
  right: 0;
}
