.site-footer-link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-white {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h5,
small,
strong.text-dark {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}