<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/home">
            DaviTickets
        </a>

        <a href="/listMovieBooking" class="btn custom-btn d-lg-none ms-auto me-4">Đặt vé</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_1">Trang chủ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">Giới thiệu</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Thịnh hành</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_5">Giá vé</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_6">Liên hệ</a>
                </li>

                <li class="nav-item dropdown" *ngIf="isLogin()">
                    <span class="nav-link">{{userDisplayName}} <i class="fa-solid fa-chevron-down"></i></span>
                  <div class="dropdown-content">
                      <a class="nav-link" (click)="loadDataProfile()">Thông tin</a>
                      <a class="nav-link" href="/changepass">Đổi mật khẩu</a>
                      <a class="nav-link" (click)="logout()" routerLink="/home">Đăng xuất</a>
                  </div>
                </li>

                <li class="nav-item dropdown" *ngIf="!isLogin()">
                    <span class="nav-link">Tài khoản <i class="fa-solid fa-chevron-down"></i></span>
                  <div class="dropdown-content">
                      <a class="nav-link dropdown" href="/login">Đăng nhập</a>
                      <a class="nav-link dropdown" href="/forgotpass">Quên mật khẩu</a>
                      <!-- <a class="nav-link" href="/home">Đăng xuất</a> -->
                  </div>
                </li>
            </ul>

            <!-- <a href="/listMovieBooking" class="btn custom-btn d-lg-block d-none">Đặt vé</a> -->
        </div>
    </div>
</nav>

<main>
<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-12 mb-5 text-center title-top">

                <h1 class="text-white mb-5">Hệ thống đặt vé xem phim DaviTickets</h1>

                <a routerLink="/login" *ngIf="!isLogin()">
                    <button class="btn-top-index">
                        Bắt đầu
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                    
                        </div>
                    </button>
                </a>
                <a routerLink="/listMovieBooking" *ngIf="isLogin()">
                    <button class="btn-top-index">
                        Đặt vé
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                </a>

            </div>

                <div class="col-lg-12 col-12 d-flex flex-column flex-lg-row text-center" style="margin-top: 9rem;">
                    <div class="date-wrap">
                        <h5 class="text-white">
                            <i class="fa-regular fa-calendar-days"></i>
                            27/06 - 19/08/2023
                        </h5>
                    </div>

                    <div class="location-wrap mx-auto py-3 py-lg-0">
                        <h5 class="text-white">
                            <i class="fa-solid fa-location-dot"></i>
                            FPOLY CẦN THƠ
                        </h5>
                    </div>

                    <div class="social-share">
                        <ul class="social-icon d-flex align-items-center justify-content-center">
                            <span class="text-white me-3">Liên hệ</span>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>

    <div class="video-wrap">
        <img class="custom-video" src="../assets/images/cinema.jpg" alt="">
        <!-- <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="video/pexels-2022395.mp4" type="video/mp4">

            Your browser does not support the video tag.
        </video> -->
    </div>
</section>

<section class="about-section section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                <div class="services-info">
                    <h2 class="text-white mb-4">Về chúng tôi</h2>

                    <p class="content-about-us">DaviTickets là một nền tảng trực tuyến cho phép người dùng
                        dễ dàng tìm kiếm và đặt vé xem phim trực tuyến một cách dễ dàng. 
                        <br> <br>
                        Với giao diện thân thiện và đa dạng thông tin
                        về phim, trang web cung cấp cho người dùng lựa chọn phim theo thể loại, rạp chiếu, ngày
                        giờ.
                        <br>Trang web cung cấp thông tin chi tiết về các rạp chiếu, lịch chiếu và đánh giá phim để người dùng có thể
                        lựa chọn phim phù hợp với sở thích của mình.
                        <br> <br>
                        Chúng tôi đảm bảo rằng khách hàng có chỗ ngồi yêu thích trong suất chiếu mong muốn, đặc biệt đối với các bộ phim có sự quan tâm lớn hoặc suất chiếu đông đúc.
                    </p>


                    <p class="content-about-us">Hãy giới thiệu với bạn bè về website của chúng tôi. Cảm ơn.</p>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="about-text-wrap">
                    <img src="../assets/images/pexels-alexander-suhorucov-6457579.jpg" class="about-image img-fluid">


                </div>
            </div>

        </div>
    </div>
</section>


<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h2 class="mb-4">Thịnh hành</h2>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="../assets/images/conan.jpg" class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover" style="padding-bottom: 25px;">
                        <p>
                            <strong>Tên phim:</strong>
                            Tàu ngầm sắt màu đen
                        </p>

                        <p>
                            <strong>Ngày công chiếu:</strong>
                            21/7/2023
                        </p>

                        <p>
                            <strong>Thể loại:</strong>
                            Trinh thám
                        </p>

                        <hr>

                        <p class="mb-0">
                            <button class="button" (click)="checkBooking()">
                                Đặt vé ngay
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="../assets/images/xu-so-cac-nguyen-to-elemental-1100118.jpg"
                            class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover" style="padding-bottom: 25px;">
                        <p>
                            <strong>Tên phim:</strong>
                            Xứ sở các nguyên tố
                        </p>

                        <p>
                            <strong>Ngày công chiếu:</strong>
                            21/7/2023
                        </p>

                        <p>
                            <strong>Thể loại:</strong>
                            Tình cảm
                        </p>

                        <hr>

                        <p class="mb-0">
                            <button class="button" (click)="checkBooking()">
                                Đặt vé ngay
                            </button>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row justify-content-center">


            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="../assets/images/nhiemvubatkhathi7.jpg" class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover" style="padding-bottom: 25px;">
                        <p>
                            <strong>Tên phim:</strong>
                            Nhiệm vụ bất khả thi 7
                        </p>

                        <p>
                            <strong>Ngày công chiếu:</strong>
                            21/7/2023
                        </p>

                        <p>
                            <strong>Thể loại:</strong>
                            Hành động
                        </p>

                        <hr>

                        <p class="mb-0">
                            <button class="button" (click)="checkBooking()">
                                Đặt vé ngay
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="../assets/images/23143951-1-xem-phim-ta-chu-cam.jpeg" class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover" style="padding-bottom: 25px;">
                        <p>
                            <strong>Tên phim:</strong>
                            Tà chú cấm
                        </p>

                        <p>
                            <strong>Ngày công chiếu:</strong>
                            21/7/2023
                        </p>

                        <p>
                            <strong>Thể loại:</strong>
                            Kinh dị
                        </p>

                        <hr>

                        <p class="mb-0">
                            <button class="button" (click)="checkBooking()">
                                Đặt vé ngay
                            </button>
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="pricing-section section-padding section-bg" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto fare-title">
                <h2 class="text-center mb-4">Giá vé kham khảo</h2>
            </div>

            <div class="col-lg-6 col-12">
                <div class="pricing-thumb">
                    <div class="d-flex">
                        <div>
                            <h3><small>Ghế thường</small> 65.000 VND</h3>
                        </div>

                        <!-- <p class="pricing-tag ms-auto">Giảm giá <span>50%</span></h2> -->
                    </div>

                    <ul class="pricing-list mt-3">
                        <li class="pricing-list-item">Vị trí xem phim tốt</li>

                        <li class="pricing-list-item">Nhìn rõ màn hình</li>

                        <li class="pricing-list-item">Trải nghiệm âm thanh tốt</li>

                        <!-- <li class="pricing-list-item">Hành động</li> -->
                    </ul>

                    <a class="link-fx-1 color-contrast-higher mt-4" (click)="checkBooking()">
                        <span>Đặt ngay</span>
                        <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="16" cy="16" r="15.5"></circle>
                                <line x1="10" y1="18" x2="16" y2="12"></line>
                                <line x1="16" y1="12" x2="22" y2="18"></line>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                <div class="pricing-thumb">
                    <div class="d-flex">
                        <div>
                            <h3><small>Ghế VIP</small> 75.000 VND</h3>

                        </div>
                    </div>

                    <ul class="pricing-list mt-3">
                        <li class="pricing-list-item">Rộng rãi hơn</li>

                        <li class="pricing-list-item">Phục vụ chăn màn miễn phí</li>

                        <li class="pricing-list-item">Trà và cafe miễn phí</li>

                        <!-- <li class="pricing-list-item">Hành động</li>   -->
                    </ul>

                    <a class="link-fx-1 color-contrast-higher mt-4" (click)="checkBooking()">
                        <span>Đặt ngay</span>
                        <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="16" cy="16" r="15.5"></circle>
                                <line x1="10" y1="18" x2="16" y2="12"></line>
                                <line x1="16" y1="12" x2="22" y2="18"></line>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="contact-section section-padding" id="section_5">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12 mx-auto">
                <!-- <h2 class="text-center mb-4">Interested? Let's talk</h2> -->

                <nav class="d-flex justify-content-center">
                    <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                        role="tablist">
                        <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-ContactForm" type="button" role="tab"
                            aria-controls="nav-ContactForm" aria-selected="false">
                            <h5>Liên hệ</h5>
                        </button>

                        <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-ContactMap" type="button" role="tab"
                            aria-controls="nav-ContactMap" aria-selected="false">
                            <h5>Bản đồ</h5>
                        </button>
                    </div>
                </nav>

                <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                        aria-labelledby="nav-ContactForm-tab">
                        <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post"
                            role="form">
                            <div class="contact-form-body">
                                <div class="row" style="margin-right: 0rem; margin-left: -1.2rem;">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="text" name="contact-name" id="contact-name"
                                            class="form-control" placeholder="Họ và tên" required>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <input type="email" name="contact-email" id="contact-email"
                                            pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email"
                                            required>
                                    </div>
                                </div>

                                <input type="text" name="contact-company" id="contact-company"
                                    class="form-control" placeholder="Tiêu đề" required>

                                <textarea name="contact-message" rows="3" class="form-control"
                                    id="contact-message" placeholder="Nội dung"></textarea>

                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                        aria-labelledby="nav-ContactMap-tab">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.420494742025!2d105.75565247489655!3d9.982081490122408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zRlBUIFBPTFlURUNITklDIEPhuqZOIFRIxqA!5e0!3m2!1svi!2s!4v1689173690383!5m2!1svi!2s"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- <iframe class="google-map" src="https://goo.gl/maps/xmsyWx2CPSPnQC6k7" width="100%"
                            height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                        <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</main>
