<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            DaviTicket
        </a>

        <a href="list-movie-booking.html" class="btn custom-btn d-lg-none ms-auto me-4">Đặt vé</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="history.html">Lịch sử</a>
                </li>
                <li class="nav-item dropdown">
                    <span class="nav-link">Tài khoản <i class="fa-solid fa-chevron-down"></i></span>
                  <div class="dropdown-content">
                      <a class="nav-link item" href="profile.html">Thông tin</a>
                      <a class="nav-link item" href="changepass.html">Đổi mật khẩu</a>
                      <a class="nav-link item" href="index.html">Đăng xuất</a>
                  </div>
                </li>
            </ul>

            <a href="list-movie-booking.html" class="btn custom-btn d-lg-block d-none">Đặt vé</a>
        </div>
    </div>
</nav>
<div class="main_content" id="content2">
  <div class="container padding-bottom-3x mb-2 mt-5 container-fogot-pass">
      <div class="row justify-content-center" id="content">
          <div class="col-lg-8 col-md-10">
              <div class="forgot">
                  <h2>Bạn quên mật khẩu?</h2>
                  <p>
                      Thay đổi mật khẩu của bạn trong ba bước đơn giản. Điều này sẽ giúp bạn bảo mật mật khẩu của
                      mình!!</p>
                  <ol class="list-unstyled">
                      <li><span class="text-primary text-medium">1. </span>Nhập email đã đăng ký tài khoản.</li>
                      <li><span class="text-primary text-medium">2. </span>Nhập mã xác nhận đã gửi qua email.</li>
                      <li><span class="text-primary text-medium">3. </span>Nhập thông tin để đổi mật khẩu.</li>
                  </ol>

              </div>
              <form class="card mt-4" ng-show="kt==null">
                  <p>Nhập địa chỉ email được dùng để đằng ký tài khoản trước đó!</p>
                  <div class="input-box">
                      <input ng-model="mail" class="input" type="text" placeholder="Email">
                      <i class="fas fa-envelope email-icon"></i>
                      <i class="fas fa-exclamation-circle error-icon"></i>
                      <i class="fas fa-check-circle passed-icon"></i>
                      <input ng-click="checkMail()" class="button" type="submit" value="OK" id="btn">
                  </div>
                  <p class="text"></p>
              </form>
          </div>
      </div>
  </div>

  <!-- <div class="container padding-bottom-3x mb-2 mt-5 container-fogot-pass" id="maxn" ng-hide="ma==null">
      <div class="wrapper">
          <div class="title"><span>Mã xác nhận</span></div>
          <form>
              <div class="row">
                  <i class="fa-solid fa-key"></i>
                  <input ng-model="validCode" type="text" placeholder="VD: 032342" required>
              </div>

              <div class="row button">    
                  <button type="submit">Xác nhận</button>
              </div>
          </form>
      </div>
  </div> -->

  <!-- <div class="container padding-bottom-3x mb-2 mt-5 container-fogot-pass" id="fogotPass" ng-hide="maxn==null">
      <div class="wrapper">
          <div class="title"><span>Quên mật khẩu</span></div>
          <form>
              <div class="row">
                  <i class="fas fa-lock"></i>
                  <input ng-model="newPass" type="password" placeholder="Mật khẩu mới" required>
              </div>
              <div class="row">
                  <i class="fas fa-lock"></i>
                  <input ng-model="reNewPass" type="password" placeholder="Nhập lại mật khẩu" required>
              </div>

              <div class="row button">    
                  <button type="submit">Đổi</button>
              </div>
              <div class="signup-link">Quay lại <a href="#dangNhap">đăng nhập</a></div>
          </form>
      </div>
  </div> -->
</div>