<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href="/home">
			DaviTicket
		</a>

		<a href="/listMovieBooking" class="btn custom-btn d-lg-none ms-auto me-4">Đặt vé</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
				<li class="nav-item">
					<a class="nav-link" href="/home">Trang chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/history">Lịch sử</a>
				</li>
				<li class="nav-item dropdown">
					<span class="nav-link">{{userDisplayName}} <i class="fa-solid fa-chevron-down"></i></span>
					<div class="dropdown-content">
						<a class="nav-link" (click)="loadDataProfile()">Thông tin</a>
						<a class="nav-link" href="/changepass">Đổi mật khẩu</a>
						<a class="nav-link" (click)="logout()" routerLink="/home">Đăng xuất</a>
					</div>
				</li>
			</ul>

			<a href="/listMovieBooking" class="btn custom-btn d-lg-block d-none">Đặt vé</a>
		</div>
	</div>
</nav>
<div class="mainDiv">
	<div class="cardStyle">
		<form id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="updatePass()" action="" novalidate>

			<img src="" id="signupLogo" />

			<h2 class="formTitle">
				Đổi mật khẩu
			</h2>

			<div class="inputDiv">
				<label class="inputLabel" for="password">Mật khẩu cũ
					<span class="form-item-icon-eye hide-show-pass"> <i (click)="showHideOldPass()" class="fa-regular fa-eye"
							id="eye1"></i>
					</span>
				</label>

				<input type="text" formControlName="oldPass" name="oldPass" id="oldPass" required>
			</div>

			<div class="inputDiv">
				<label class="inputLabel" for="confirmPassword">Mật khẩu mới
					<span class="form-item-icon-eye hide-show-pass"> <i (click)="showHideNewPass()" class="fa-regular fa-eye"
							id="eye2"></i>
					</span>
				</label>

				<input type="text" formControlName="newPass" id="newPass" name="oldPass">
			</div>
			<div class="inputDiv">
				<label class="inputLabel" for="confirmPassword">Xác nhận mật khẩu mới
					<span class="form-item-icon-eye hide-show-pass"> <i (click)="showHideNewPass()" class="fa-regular fa-eye"
							id="eye3"></i>
					</span>
				</label>
				<input type="text" formControlName="reNewPass" name="oldPass" id="reNewPass">
			</div>
			<div class="buttonWrapper">
				<button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
					<span>Xác nhận</span>
				</button>
			</div>

		</form>
	</div>
</div>